{% extends 'layout.html' %}

{% block body %}
<!----jumbotron---->
<div class = 'row'>
    <div class="col-md-2">
        </div>
    <div class="jumbotron col-md-8">
        <h1 class="display-3">Word Finder</h1>
        <p class="lead">This is a tool to support multilingualism search, and you just need to select your language and
             the word you want to find, then you will get all Part of speech of the word and corresponding examples.
             Also, the tool supports clustering and showing them according to the clustering number.
        </p>
    </div>
    <div class="col-md-2">
        </div>
</div>
<br/><br/>

<!-----select language------->
<div class="row" style="margin: 0 0">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 my2">
        <form action="/find" onsubmit="updateFindStatus()" method="GET">
            <div class="row my-2">
                <select class="custom-select my2" style="margin: 2% 0" name="sellanguage">
                    {% if input_data is defined %}
                        <option selected="" value={{input_data.language_id}}>{{input_data.language_name}}</option>
                    {% else %}
                        <option selected="">Select a language</option>
                    {% endif%}
                    <option value="1">Chinese</option>
                    <option value="2">English</option>
                    <option value="3">French</option>
                    <option value="4">Italian</option>
                    <option value="5">Spanish</option>
                    <option value="6">Korean</option>
                    <option value="7">Russian</option>
                    <option value="8">Portuguese</option>
                </select>
                {% if input_data is defined %}
                <input class="form-control col-md-8" type="text" placeholder="Input a word" name="selword"
                                       placeholder={{input_data.sel_word}} value="{{input_data.sel_word}}">
                {% else %}
                <input class="form-control col-md-8" type="text" placeholder="Input a word" name="selword">
                {% endif%}
                <button class="btn btn-primary col-md-4" type="submit" id="findId1">Find</button>
            </div>
            <br/><br/>
        </form>
    </div>
    <div class="col-md-2">
    </div>
</div>

<!------result show------->
<div class="row" style="padding:0 0">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        {% if input_data is defined %}
        <div class="form-group">
            <div class="alert alert-dismissible alert-light">
                Please click button to view sentences with KWIC show
            </div>
            {% if input_data.sel_result%}
            {% for row_result in input_data.sel_result %}
            <button type="button" class="btn btn-outline-success mr-sm-2 my-sm-1" id={{row_result.1}} onclick="findByTag('{{row_result.0}}','{{row_result.1}}',{{row_result.2}})">{{row_result.1}}</button>
            {% endfor %}
            {% endif %}
        </div>
        {% endif %}
        <div id="clusterFunctionId1">
        </div>
    </div>
    <div class="col-md-2">
    </div>
</div>

<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
{% endblock %}