{% extends 'layout.html' %}

{% block body %}

<div class = 'row'>
    <div class="jumbotron">
        <h1 class="display-3">Word Finder</h1>
        <p class="lead">This is a supporting multilingualism word finder, just selecting your language and entering word, then you will get examples with input word </p>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4" >
                <form class="my-2" action="/find" method="post">
                    <div class="row">
                        <select class="custom-select my-2" name="sellanguage">
                            <option selected="">Select a language</option>
                            <option value="1">Chinese</option>
                            <option value="2">English</option>
                            <option value="3">French</option>
                            <option value="4">Italian</option>
                            <option value="5">Spanish</option>
                            <option value="6">Korean</option>
                            <option value="7">Russian</option>
                            <option value="8">Portuguese</option>
                        </select>
                        <input class="form-control col-md-8" type="text" placeholder="Input a word you want to find" name="selword">
                        <button class="btn btn-primary col-md-4" type="submit">Find</button>
                    </div>

                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>

{% endblock %}